
#header {
  display: flex;
  align-items: center;
}

#header > #logo > img {
  height: 70px;
}

#header > #name {
  margin-left: 15px;
  font-size: 40px;
}

#header > #spacer {
  flex-grow: 1;
}

#header > #language {
  margin-right: 15px;
}

#header > #language > select {
  padding: 4px 6px;
}

#header > #theme-switcher {
  height: 30px;
}

#theme-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

#theme-switcher .slider {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  background-color: #fcfa9c;
  border-radius: 34px;
  transition: background-color 0.4s;
  cursor: pointer;
  border: 2px solid #888;
}

#theme-switcher input:checked + .slider {
  background-color: #377188;
}

#theme-switcher .slider:after {
  content:"☀️";
  position: absolute;
  left: 3px;
  top: 2px;
  font-size: 18px;
  opacity: 1;
  transition: 0.4s;
}

#theme-switcher input:checked + .slider:after {
  content: "🌑";
  left: 30px;
}
