#main {
  display: flex;
  flex-direction: column; /* มือถือ = แนวตั้ง */
  gap: 16px;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  #main {
    flex-direction: row; /* คอม = ซ้ายขวา */
    justify-content: space-around;
    align-items: stretch;
    gap: 16px;
  }

  .term {
    flex: 1;
    overflow: hidden;
    min-height: 410px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}

.term:first-child,
.term:last-child {
  margin: 0;
}

